<!-- 상단 메뉴 부분 -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow-lg">
	<a class="navbar-brand" href="/">SoftCampus</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	        data-target="#navMenu">
		<span class="navbar-toggler-icon"></span>        
	</button>
	<div class="collapse navbar-collapse" id="navMenu">
		<ul class="navbar-nav">
			{% for menu in request.menu_list %}
			<li class="nav-item">
				<a href="/board/board_main?board_info_idx={{menu.board_info_idx}}" class="nav-link">{{menu.board_info_name}}</a>
				{{menu.board_info_name}}
			</li>
			{% endfor %}
		</ul>
		
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/user/login" class="nav-link">로그인</a>
			</li>
			<li class="nav-item">
				<a href="/user/join" class="nav-link">회원가입</a>
			</li>
			<li class="nav-item">
				<a href="/user/modify_user" class="nav-link">정보수정</a>
			</li>
			<li class="nav-item">
				<a href="/" class="nav-link">로그아웃</a>
			</li>
		</ul>
	</div>
</nav>